div#PerfisDiv{
    border: 10px;
    border-color: rgb(0, 0, 0);
    background-color: floralwhite;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url(https://services.meteored.com/img/article/el-telescopio-james-webb-revela-imagenes-ineditas-del-universo-profundo-1657641245588_1024.jpg);
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size:cover;
}
button#botaoCarregar{
    width: 200px;
    height: 50px;
    border: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 650px;
    margin-top: 200px;
    margin-bottom: 50px;
}